<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= projectTitle %></title>
    <style>
      html, body {
        font-family: 'Open Sans';
        -webkit-user-select: none;
        -webkit-user-drag: none;
        cursor: default;
      }

      input, button {
        outline: none;
      }

      div {
        transform: translateZ(0);
      }
    </style>
  </head>
  <body>
    <main id="react-root"></main>
  </body>
</html>
